/* Inizio Regole generali */
body {
  background-image: url('../img/sfondo.jpg');
}
.main-wrapper{
  width: 50%;
  margin: 0px auto;
}
/* Fine Regole generali */

/* Inizio Regole Top-header */
#logo {
  height: 80px;
  vertical-align: middle;
}

#title {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
/* Fine Regole Top-header */

/* Inizio Regole Bottom-header */
.unread {
  margin: 20px;
  margin-left: 0px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.unread span {
  background-color: orange;
  font-size: 2em;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  border-radius: 50%;
}
/* Fine Regole Bottom-header */

/* Inizio Regole sezione main */
.row {
  background-color: lightgrey;
  margin-bottom: 2px;
  padding: 2px;
}

#read {
  background-color: white;
}
/* Fine regole sezione main */

/* Inizio Regole footer */
.footer p {
  color: white;
  text-align: center;
  font-style: italic;
}

.footer p .company {
  font-style: normal;
  font-size: 25px;
  font-weight: bold;
}
/* Fine regole footer */
